* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

body {
  background-color: #121212;
}

h1 {
  color: white;
  font-size: clamp(16px, 3vw, 32px);
  padding: 20px;
}

input,
button {
  font-size: clamp(16px, 3vw, 32px);
  padding: 10px;
  border: none;
  outline: none;
  margin: 1rem 0;
}

button {
  background-color: #db549d;
  cursor: pointer;
}

button img {
  width: clamp(16px, 3vw, 32px);
}

.loader {
  color: #ff0000;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.gif {
  padding: 0 5px;
}

.gif img {
  max-width: 100%;
}

#error {
  color: #ff0000;
}

ul {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

ul li {
  /* font-size: 2rem; */
  text-align: center;
  list-style-type: none;
  padding: 0 20px;
  border: 1px solid #000;
  margin: 0;
  font-size: clamp(16px, 3vw, 32px);
}

ul li a {
  text-decoration: none;
  color: #0000ff;
}

.active {
  color: #fff;
  background-color: #0000ff;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
