body {
  background-color: #121212;
}

.loader {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.gif {
  padding: 0 5px;
}
